@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UPM<br />
    José Miguel Salmerón<br />
    <abbr title="Teléfono">T:</abbr>
    657315469
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:digajjj21@gmail.co">digajjj21@gmail.com</a><br />
</address>